<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.AdminMapper" >

<!--    <resultMap id="speakerMap" type="com.qf.pojo.Speaker">-->
<!--        <id column="sid" property="id"/>-->
<!--        <result column="speaker_name" property="speakerName"/>-->
<!--        <result column="speaker_desc" property="speakerDesc"/>-->
<!--        <result column="speaker_job" property="speakerJob"/>-->
<!--        <result column="head_img_url" property="headImgUrl"/>-->
<!--    </resultMap>-->


<!--    <select id="selectAdmin" resultMap="speakerMap" >-->
<!--        select * from admin;-->
<!--    </select>-->

    <select id="selectAdmin" resultType="com.qf.pojo.Admin">
        SELECT
        *
        FROM
        admin
        where
        username = #{username} and
        password = #{password}
    </select>
<!--    <update id="updateSpeaker" parameterType="">-->
<!--        update speaker set-->
<!--    </update>-->

<!--    <insert id="insertSpeaker" parameterType="">-->
<!--        insert into speaker-->
<!--    </insert>-->

<!--    <delete id="deleteSperker" parameterType="String">-->
<!--        delete from speaker where id =#{id}-->
<!--    </delete>-->
<!--    茹东杰-->
</mapper>